/* body {
    justify-content: center;
} */


/* #log-container  {
    
} */


  

.log-title {
    position: relative;
    align-self: center;
}

.userN {
    width: 50%;
    height: 15px;
}
.userP {
    width: 50%;
    height: 15px;
}

.submit-login {
    height: 30px;
    width: 50%;
}

.profile-qq {
    position: relative;
    width: 100%;
    height: 4em;
    border: solid 1px;
}

/* defaulth all menus */
.log-container {
    position: fixed;
    height: 25em;
    width:20em;
    align-items: center;
    border: solid 1px;
}
.dashboard-qq {
    position: fixed;
    display: flex;
    height: 100%;
    width: 95%;
    background-color:rgb(177, 177, 177);
    border:solid 1px;
}

/* dashboard-main container "main-friend-container" */
.main-friend-container {
    position: relative;
    /* display: flex; */
    float: left;
    width: 10em;
    height: 82.5%;
    border: solid 1px;
}
.friend-button {
    height: 1em;
    width:  85%;
    padding: 10px;
    background: #eee;
    border: 1px solid #ccc;
    /* margin: 5px 0; */
    cursor: pointer;
    transition: background 0.2s;
}
.friend-button:hover {
    background: #ddd;
}

.dashboard-qq .main-chat-container {
    position: relative;
    display: flex;
    /* float: left; */
    background-color: aqua;
    height: 82.5%;
    /* width: 73.99%; */
    /* width: auto; */
    /* height: auto; */
    border: solid 1px;
}
/* main-menu */
.dashboard-qq .navbar-setting {
    position: fixed;
    display: flex;
    width: 95%;
    height: 2em;
    border: solid 1px;
    justify-content: space-evenly;
    bottom: 0;
    z-index: 1;

}
.dashboard-qq .navbar-setting div {
    position: relative;
    width: 30px;
    height: 100%;
    border: solid 1px;
    /* margin-left: 20%; */
}

.main-chat-container .chat-profile {
    position: relative;
    /* display: flex; */
    float: left;
    width: 100%;
    height: 10%;
    background-color: chartreuse;
    border: solid 1px;
}
.main-chat-container .chat-message {
    position: relative;
    /* display: flex; */
    float: left;
    width: 100%;
    height: 4em;
    background-color: yellow;
    border: solid 1px;
}